

body{

     background-image:url('../images/image\ 1.jpg') ; 
     background-repeat: no-repeat; 
     background-position:center ; 
     background-size: cover;
     
    
      
}


.header{
    /* background-color: orange ; */
    /* border:3px solid black ; */
    margin:30px ;
    padding:30px ;
    color:blueviolet;
    text-align: center;
    font-size: 20px; 

}
.section1{
    /* border: 3px solid green; */
    color:yellow;
    text-align: center;
    font-size:medium ;
    padding:20px ;
    margin-left:300px  ;
    margin-right:300px ;

}
.section2{
    color: blue;
    text-align: center;
    font-size: medium;
}
.header2{
    border:2px solid  black ;
    text-align: center;

}